*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.form-btn{
    background-color: #BA6644;
    color: white;
}

.form-btn:hover{
    background-color:  white;
    color: #BA6644;
    border: 1px solid #BA6644;
}
.form-shadow{
    box-shadow: 0px 0px 10px 5px #e9ecef !important;
}
.main-text-color{
    color: #202738 !important;
}
.main-bg-color{
    background-color: #202738 !important;
}

.nav-link:hover{
color:  #BA6644 !important;
}

.nav-link.active {
    color: #BA6644 !important; /* Change the color to your desired color */
}