.form-btn{
    background-color: #BA6644;
    color: white;
}

.form-btn:hover{
    background-color:  white;
    color: #BA6644;
    border: 1px solid #BA6644;
}
.form-shadow{
    box-shadow: 0px 0px 10px 5px #e9ecef !important;
}
.main-text-color{
    color: #202738 !important;
}